<?xml version="1.0"?>
<configuration>

  <configSections>

    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>

    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="ERROR" />
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>

  <spring>

    <context>
      <resource uri="config://spring/objects" />
    </context>

    <objects xmlns="http://www.springframework.net">

      <object name="IProcessService" type="InteractionUtil.Service.Impl.ProcessServiceImpl,
                InteractionUtil" singleton="true" />
      <object name="IShortcutReaderWriterService" type="InteractionUtil.Service.Impl.ShortcutXMLReaderWriterImpl,
                InteractionUtil" singleton="true" />
      <object name="IShortcutService" type="InteractionUtil.Service.Impl.ShortcutServiceImpl,
                InteractionUtil" singleton="true" />
      <object name="IConfigService" type="InteractionUtil.Service.Impl.ConfigServiceImpl,
                InteractionUtil" singleton="true" />
      <object name="IGestureService" type="GestureServices.Service.Impl.GestureServiceImpl,
                GestureServices" singleton="true" />

      <!-- Online Setting -->
      <object name="ISkeletonService" type="KinectServices.Service.Impl.SkeletonServiceImpl,
                KinectServices" singleton="true" />
      <object name="ISensorService" type="KinectServices.Service.Impl.SensorServiceImpl,
                KinectServices" singleton="true" />
      <object name="ICameraService" type="KinectServices.Service.Impl.CameraServiceImpl,
                KinectServices" singleton="true" />

      <!-- Offline Setting
      <object name="IGestureService" type="GestureServices.Service.Stub.GestureServiceStub,
              GestureServices" singleton="true" />
      <object name="ISkeletonService" type="KinectServices.Service.Stub.SkeletonServiceStub,
              KinectServices" singleton="true" />
      <object name="ISensorService" type="KinectServices.Service.Stub.SensorServiceStub,
              KinectServices" singleton="true" />
      <object name="ICameraService" type="KinectServices.Service.Stub.CameraServiceStub,
              KinectServices" singleton="true" /> -->
    </objects>
  </spring>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>